<launch>

  <arg name="bagname" />

  <node name="rosbag_record_data" pkg="rosbag" type="record"
      args="record -O /home/hrisim/ros_ws/$(arg bagname).bag
            /map                                                                                                             
            /hri/risk
            /pedsim_simulator/simulated_agents
            /tf                                                                                
            /tf_static"
  />

</launch>
